:root {
	--primary-background-color: #121212;
	--secondary-background-color: #1e1e1e;

	--primary-text-color: #fff;
	--secondary-text-color: #bbbbbb;

	--purple-accent: #9b5de5;
	--purple-hover: #c084fc;
}
