.list {
	@mixin responsive gap, 15, 20;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}
}

.paragraph {
	@mixin responsive min-height, 200, 250;

	position: relative;

	@media (max-width: 767px) {
		min-height: unset;
	}
}

.pagination {
	@mixin responsive padding-block, 40, 50;
}
