.buttonBlock,
.root {
	@mixin responsive gap, 10, 10;

	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	@mixin responsive-typography 14, 16;

	background-color: var(--secondary-background-color);

	@media (hover: hover) {
		&:not(:disabled):hover {
			background-color: var(--green-accent);
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.label {
	@mixin responsive-typography 14, 14;

	@media (max-width: 767px) {
		display: none;
	}
}
